.adminLayout {
	display: flex;
	gap: 1.3rem;
	min-height: calc(100dvh - (4.8rem + ios-safe-area(top)));
	padding-top: 1.2rem;
	background-color: var(--white-color-normal);

	main {
		padding: 2.4rem;
		border-radius: $border-radius-lg;
		background-color: var(--white-color-dim);
		box-shadow: 2px 0 10px rgba(0, 0, 0, 0.08);
	}

	h3 {
		margin-bottom: 2rem;
	}
}

.adminSideSheet {
	width: 15%;
	min-width: 160px;
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
	border-radius: 0 $border-radius-lg $border-radius-lg 0;
	box-shadow: 2px 0 10px rgba(0, 0, 0, 0.08);
	background-color: var(--white-color-dim);

	:global(.list-item) {
		cursor: pointer;
		transition: background-color 0.2s ease;
	}

	.depth01 {
		display: block;

		.depth02 {
			background-color: var(--white-color-dark);
		}
		.depth02Item {
			padding-left: 1.2rem;
		}
	}
}

.productListPage,
.brandListPage {
	header {
		margin-bottom: 2rem;

		h3 {
			font-size: 2rem;
			font-weight: 600;
			color: var(--black-color-normal);
		}
	}

	> button {
		margin-top: 1.6rem;
	}
}

.editForm {
	.groupWrap {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: auto;
		width: 100%;
		padding: 2rem;
		row-gap: 2rem;
		column-gap: 2.2rem;

		> li {
			width: 100%;
			height: 100%;
			min-width: 0;
			min-height: 0;

			h5 {
				display: flex;
				align-items: center;
				margin-bottom: 0.6rem;
				font-size: 1.5rem;
				font-weight: 500;
			}
			h6 {
				margin-bottom: 0.4rem;
				@include title-3;
			}
		}
	}

	.formButtonWrap {
		background-color: var(--white-color-light);
		padding: $inner;
		display: flex;
		justify-content: space-between;
		margin-top: 1.6rem;
		.right,
		.left {
			display: flex;
			gap: 1.4rem;
		}
	}
}

.productForm {
	.id {
		grid-column: span 2;
	}
	.name {
		grid-column: span 4;
	}
	.brand {
		grid-column: span 2;
	}
	.price {
		grid-column: span 2;
		grid-row: span 2;
		li + li {
			margin-top: 1.2rem;
		}
	}

	.category {
		grid-column: span 6;
		> ul {
			width: 100%;
			display: flex;
			gap: 1.2rem;
			> li {
				width: calc(25% - 1.2rem);
			}
		}
	}

	.keywords {
		grid-column: span 6;
		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 0.7rem;
		}

		.keywordField {
			background-color: transparent;
			border: none;
			color: var(--white-color);
			width: 7rem;
		}
	}

	.itemTable {
		width: 100%;
		max-height: 32rem;
		overflow-y: auto;
		text-align: left;
		background-color: var(--white-color);
		border-radius: 1.2rem;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
		margin-bottom: 2rem;

		table {
			table-layout: fixed;
			width: 100%;
		}

		thead {
			position: sticky;
			top: 0;
			z-index: 1;

			th {
				font-size: 1.4rem;
				font-weight: 500;
				padding: 0.8rem 1rem;
				background-color: var(--black-color-dim);
				color: var(--white-color);
				text-align: center;
			}
		}

		tbody {
			tr {
				&:hover {
					background-color: var(--gray-color-dim);
				}

				&:nth-child(even) {
					background-color: var(--white-color-light);
				}
			}
		}

		td {
			padding: 1rem;

			&:nth-child(5) {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 6rem;

				:global(.icon-button) {
					color: var(--white-color);
					border-radius: 0.6rem;
					background: linear-gradient(
						135deg,
						var(--primary-color-normal),
						var(--primary-color-dark)
					);
					transition: transform 0.2s ease;

					&:hover {
						transform: scale(1.05);
						background: linear-gradient(
							135deg,
							var(--primary-color-dark),
							var(--black-color-light)
						);
					}
				}
			}

			&:last-child {
				.buttonWrap {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 1rem;
				}
			}
		}
	}
}

.reviewForm {
	display: block;

	.id {
		grid-column: span 3;
	}

	.email,
	.productId,
	.orderId,
	.score {
		grid-column: span 2;
	}

	.text {
		grid-area: span 3 / span 8;
	}
	.image {
		grid-column: span 8;
	}
}

.contentForm {
	.name,
	.title {
		grid-column: span 4;
	}
	.id,
	.url,
	.image,
	.body {
		grid-column: span 8;
	}
}

.magazineForm {
	display: block;

	.id {
		grid-column: span 3;
	}

	.name,
	.title {
		grid-column: span 4;
	}

	.url,
	.body {
		grid-column: span 8;
	}

	.productGroupsId {
		grid-column: span 8;

		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 0.7rem;
		}
	}

	.keywords {
		grid-column: span 8;

		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 0.7rem;
		}

		.keywordField {
			background-color: transparent;
			border: none;
			color: var(--white-color);
			width: 7rem;
		}
	}

	.image {
		grid-column: span 8;
	}
}
