.appBar {
	position: relative;
	box-sizing: content-box;
	padding-bottom: ios-safe-area(bottom);
	z-index: $app-bar;
}

.container {
	height: inherit;
	padding-left: ios-safe-area(left);
	padding-right: ios-safe-area(right);
	padding-bottom: ios-safe-area(bottom);
	box-sizing: content-box;
	filter: $drop-shadow-sm-top;
	@include layout-width;
	@include fixed-bottom;
	background: var(--white-color-light);
}
