.divider {
	.line {
		display: block;
		height: 100%;
	}
}

// direction
.horizontal {
	width: 100%;
}

// color
.light .line {
	background-color: var(--gray-color-dim);
}
.dark .line {
	background-color: var(--gray-color-dark);
}

// variant {
.line {
	height: 1px;
}
.depth {
	height: 8px;
}
