.imageUploader {
	.label {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1/1;
		border: 2px solid var(--gray-color-dim);
		background-color: var(--gray-color-dim);
		cursor: pointer;

		:global(.icon) {
			width: 20%;
			min-width: 2.2rem;
			height: auto;
			aspect-ratio: 1/1;
		}

		&:global(.drag-over) {
			border: 2px solid var(--black-color-light);
		}

		input {
			display: none;
		}
	}

	// swiper
	:global(.swiper-slide) {
		position: relative;
		height: auto;
		aspect-ratio: 1/1;
		border: 1px solid var(--gray-color-normal);
		border-radius: 0.4rem;
		overflow: hidden;
	}

	// not swiper
	&:not(.swiper) {
		.imageWrap {
			display: flex;
			flex-wrap: wrap;
			container-name: image-container;
			container-type: inline-size;
			gap: 0.4rem;

			> div {
				--columns: 5;
				aspect-ratio: 1/1;
				user-select: none;
				position: relative;
				width: calc((100% - (0.4rem * (var(--columns) - 1))) / var(--columns));

				@container image-container (max-width: 600px) {
					--columns: 4;
				}
				@container image-container (max-width: 400px) {
					--columns: 3;
				}
			}

			.item {
				cursor: grab;
			}
		}
	}
}

.gallery {
	margin-top: 1.6rem;
	padding: 1.2rem;
	background-color: var(--gray-color-dim);
}

.imageWrap {
	.item {
		.deleteButton {
			position: absolute;
			top: 0.2rem;
			right: 0.2rem;
			width: 2rem;
			height: 2rem;
			color: #ffffff;
			z-index: 2;
			filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
		}
	}
}
